.hero-unit {
  display: none;
  width: 100%;
  text-align: left;
  background-color: white;
  background-image: url('../img/turquoise.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  padding: 20px 0;
  color: white;
  font-family: $header-font;
}

.main-header {
  width: 80%;
  margin: 60px auto 0;
  font-size: 5em; 
}

.main-header a {
  color: inherit;
}

.header-text {
  font-size: 1.5em;
  width: 80%;
  margin: 10px auto;
}

@media screen and (min-width: 768px) {
  .hero-unit {
    display: block;
  }
}

.mobile-header-wrapper {
  display: block;
  color: lighten($footer-color, 20%);
  font-size: 1.5em;
  text-transform: none;
  font-family: $header-font;
  position: absolute;
  top: -15px;
  right: 10px;
}

@media screen and (min-width: 768px) {
  .mobile-header-wrapper {
    display: none;
  }
}

.navigation {
  width: 100%;
  padding: 10px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.8em;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  color: lighten($footer-color, 20%);
  background-image: url('../img/turquoise.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: 99;
}

@media screen and (min-width: 768px) {
  .navigation {
    height: 30px;
    line-height: 30px;
  }
}

.opacity {
  opacity: 0.8;
}

.navigation a {
  color: inherit;
}

.nav-list {
  display: none;
  list-style: none;
  width: 80%;
  margin: 0 auto;
  -webkit-padding-start: 0;
  color: inherit;
}

.nav-list-mobile {
  padding: 30% 20px;
  height: 100vh;
  display: none;
  text-align: center;
  font-size: 1.5em;
}

.nav-item {
  padding: 15px 0;
  text-align: center;
}

.nav-item.social-menu {
  text-align: center;
  margin: 0 auto;
  width: 105px;
  padding: 15px 0 30px 0;
}

.nav-item.social-menu li {
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: block;
  }
  .navigation a {
    color: $footer-color;
  }
  .nav-item {
    float: left;
    text-align: left;
    padding: 0;
    margin: 0 10px;
  }
  .nav-item.social-menu {
    float: right;
    padding: 0;
  }
}

// HAMBURGER

#open-nav, #close-one-work {
  margin: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #open-nav {
    display: none;
  }
}

#open-nav:focus {
  outline-color: transparent;
  outline-style: none;
}

.bar1, .bar2, .bar3 {
  background-color: lighten($footer-color, 20%);
  width: 25px;
  height: 3.5px;
  margin: 3px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change-bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px) ;
  transform: rotate(-45deg) translate(-5px, 5px) ;
}

/* Fade out the second bar */
.change-bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change-bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -4px) ;
  transform: rotate(45deg) translate(-4px, -4px) ;
}

// HAMBURGER_END
 
.responsive-menu {
  display: none;
}
 
.expand {
  display: block !important; 
}

.social-menu > li {
  float: left;
  font-size: 0.9em;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .social-menu > li {
    font-size: 1.2em;
  }
}

.mobile-gallery-btn-wrapper {
  display: none;
}

@media screen and (max-width: 1024px) {
  .mobile-gallery-btn-wrapper {
    display: block;
    text-align: center;
    margin: 5px auto;
  }
}

.mobile-gallery-btn-wrapper .btn:hover {
  color: #00c1b1;
  background-color: white;
}

.mobile-gallery-btn-wrapper .btn:hover a {
  color: #00c1b1;
}