.work-items {
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0;
}

@media screen and (min-width: 768px) {
.work-items {
    flex: 2;
    margin: 0;
}
}

@media screen and (min-width: 1024px) {
    .work-items {
        flex: 3;
        margin: 0 60px 0 0;
        text-align: justify;
        text-align-last: justify;
    }
}

@media screen and (min-width: 1400px) {
    .work-items {
        flex: 4;
    }
}

.item {
    display: inline-block;
    max-width: 80%;
    margin: 5px;
    position: relative;
    transition: .5s ease;
    backface-visibility: hidden;
}

@media screen and (min-width: 300px) {
    .item {
        max-width: 45%;
    }
}

@media screen and (min-width: 768px) {
    .item {
        max-width: 30%;
    }
}

.item > a {
    cursor: default;
}

.item img {
    border: 1px solid transparent;
}

.item:hover img {
    opacity: 0.4;
    border: 1px solid $main-color;
}

.item-caption {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: .7s ease;
    font-size: 0.9em;
}

.item:hover .item-caption {
    opacity: 1;
}

.item-caption .btn {
    padding: 10px 11.5px;
}

.item-caption > .btn:hover {
    background-color: $main-color;
    color: white;
}

.visible {
    opacity: 1;
}

.prevent-click {
    pointer-events: none;
}